<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    <style>
    #maincontainer {width:500px ; margin: 10 auto;}

     table, tr, td {
  border: 1px solid;
  border-collapse: collapse;
}
td {min-width: 26px;
height:26px;
border-width: thin medium thin thin;
text-align: center;
}

    </style>
</head>
<body>



<!--- {%set colours=["azure","blanchedalmond","gold", "beige","khaki","cornsilk","honeydew","lemonchiffon","bisque","oldlace", "orange","blue","yellow","cyan","magenta","pink","red","olive","orchid","seagreen","yellow"]%}
--->
{%set colours= [random_colour(),random_colour(), random_colour(), random_colour(),random_colour(),"lemonchiffon","khaki"] %}



<div id=""maincontainer>
Hello!
    {{colours_neighbouring}}

<table>
{%set num_rows,num_cols = grid_shapes.shape%}
{%for r in range(num_rows)%}
    <tr>
    {%for c in range(num_cols)%}
            {%set move_coord = [(-1, 0), (0,1), (1, 0), (0, -1)]%}
            <td style="background-color: {{colours[shape_colours[grid_shapes[r,c]]]}}; border-width:
            {%for move in move_coord%}
                {%if (0<=r+move[0]<=num_rows) and (0<=c+move[1]<=num_cols)%}
                    {%if grid_shapes[r+move[0],c+move[1]]==grid_shapes[r,c]%}
                        thin
                    {%else%}
                        medium
                    {%endif%}
                {%else%}
                    medium
                {%endif%}
            {% endfor %}
            ;">{{grid_shapes[r,c]}}
            </td>
    {% endfor %}
    </tr>
{% endfor %}


</table>

....
<br>
time elapsed = {{elapsed}}

</div>
</body>
</html>